In [250]:
import numpy as np
import pandas as pd

In [251]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split

In [252]:
df = pd.read_csv('/home/suhas/Desktop/office/Data Science/Notes/Data Analysis/Data/covid_toy.csv')

In [253]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [254]:
df['cough'].value_counts()

Mild      62
Strong    38
Name: cough, dtype: int64

In [255]:
df.isnull().mean() * 100

age           0.0
gender        0.0
fever        10.0
cough         0.0
city          0.0
has_covid     0.0
dtype: float64

In [256]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [257]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [258]:
X_test.shape

(20, 5)

In [259]:
from sklearn.compose import ColumnTransformer

In [260]:
transformer = ColumnTransformer(
    transformers= [
        ('tnf1',SimpleImputer(),['fever']),
        ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
        ('tnf3',OneHotEncoder(sparse=False,drop='first'),['gender','city'])
        

    ],remainder='passthrough'
)

In [261]:
s= transformer.fit_transform(X_train)

In [262]:
d=transformer.transform(X_test)

In [265]:
X_train_transformed = pd.DataFrame(s,)
X_test_transformed = pd.DataFrame(d)

In [264]:
X_train_transformed

        0    1    2    3    4    5     6
0   102.0  1.0  0.0  0.0  0.0  0.0  82.0
1    98.0  0.0  0.0  0.0  0.0  1.0  65.0
2    98.0  1.0  0.0  0.0  0.0  1.0  69.0
3   102.0  1.0  1.0  1.0  0.0  0.0  20.0
4    98.0  1.0  1.0  0.0  1.0  0.0  34.0
..    ...  ...  ...  ...  ...  ...   ...
75   99.0  0.0  0.0  0.0  0.0  0.0  22.0
76   98.0  1.0  0.0  0.0  1.0  0.0  71.0
77  101.0  0.0  0.0  0.0  1.0  0.0  83.0
78  103.0  1.0  1.0  0.0  1.0  0.0  70.0
79  102.0  0.0  0.0  1.0  0.0  0.0  49.0

[80 rows x 7 columns]

In [266]:
X_test_transformed

             0    1    2    3    4    5     6
0   104.000000  0.0  0.0  0.0  1.0  0.0  17.0
1   101.000000  0.0  1.0  1.0  0.0  0.0  15.0
2   100.791667  1.0  1.0  0.0  1.0  0.0  71.0
3   100.000000  1.0  0.0  0.0  1.0  0.0  13.0
4   103.000000  0.0  0.0  0.0  1.0  0.0  69.0
5    98.000000  0.0  0.0  1.0  0.0  0.0  80.0
6   101.000000  0.0  1.0  1.0  0.0  0.0  42.0
7   102.000000  1.0  0.0  1.0  0.0  0.0  33.0
8   104.000000  0.0  1.0  0.0  1.0  0.0  16.0
9   102.000000  0.0  1.0  0.0  0.0  0.0  64.0
10   98.000000  1.0  0.0  0.0  1.0  0.0  10.0
11  102.000000  1.0  0.0  0.0  1.0  0.0  82.0
12  100.000000  0.0  1.0  0.0  0.0  0.0  80.0
13  104.000000  0.0  1.0  0.0  0.0  0.0  51.0
14  103.000000  0.0  1.0  0.0  1.0  0.0  60.0
15   98.000000  0.0  1.0  0.0  0.0  0.0  73.0
16   98.000000  0.0  0.0  0.0  1.0  0.0  31.0
17  100.791667  1.0  0.0  0.0  0.0  1.0  34.0
18   98.000000  1.0  0.0  0.0  0.0  1.0  81.0
19  103.000000  0.0  0.0  0.0  1.0  0.0  48.0